body {
  font-family: "Montserrat", sans-serif;
}

/*Header Style*/
header {
  background: url("../images/home.jpg") no-repeat center center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-size: cover;
}

#logo {
  width: 130px;
}

header .black-layer{
  background-color: rgba(0, 0, 0, 0.082);
  height: 100vh;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
  letter-spacing: 1px;
  font-size: 0.95rem;
  transition: all 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
  background-color: rgba(255, 255, 255, 0.178);
}

.the-home-page-text {
  padding-top: 10rem;
  color: #fff;
}

@media (max-width: 575.98px) {
  .the-home-page-text {
    padding-top: 8rem;
  }
  .the-home-page-text .display-4 {
    font-size: 3rem;
  }
}

/*events Style*/
.the-events .the-event {
  min-height: 450px;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
}

.the-events .the-event img {
  margin: auto;
  border-radius: 20px;
  display: block;
}

.the-events .contrast {
  background-color: #26b79f1c;
}

@media (max-width: 992px) {
  .the-events .the-event-icon {
    margin-right: 15px;
  }
}

/* Expertise Skills Style */
.the-expertise .the-exp-skills {
  padding: 70px 40px 60px 40px;
}

.the-expertise .progress-bar {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
  transition: transform 2s ease-in-out, -webkit-transform 2s ease-in-out;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.the-expertise .aos-animate {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.the-expertise .the-exp-image {
  background-image: center center;
  background-size: cover;
  min-height: 450px;
}

/*Team Carousel Style*/
.the-team .carousel-indicators {
  bottom: 0px;
}

.the-team {
  min-height: fit-content;
}

.the-team .carousel-indicators li {
  background-color: #3d3f4c;
}

.the-team .carousel-indicators .active {
  background-color: #26b7a0;
}

.the-team .old,
.the-team .new {
  display: none;
}

.the-team .show {
  display: block;
}

/*Image Gallery Style*/
.the-gallery .card-columns .card {
  border: none;
  border-radius: none;
}

@media (max-width: 992px) {
  .the-gallery .card-columns {
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .the-gallery .card-columns {
    -webkit-column-count: 1;
    column-count: 1;
  }
}

/* Company Brand Style */
.the-company-brand img {
  opacity: 0.6;
  width: 90%;
}

.the-company-brand img:hover {
  opacity: 1;
}

/*Contact Style*/
.the-contact {
  background: url("../images/staticmap.png") no-repeat center center;
  position: relative;
  min-height: 700px;
  background-size: cover;
}

.the-contact .the-contact-detail {
  padding: 8% 0 8% 1%;
}

@media (max-width: 992px) {
  .the-contact .the-contact-detail {
    padding: 15% 0 5% 1%;
  }
}

@media (max-width: 767px) {
  .the-contact .the-contact-detail {
    padding: 15px 0px 15px 0px;
  }
}

/*Footer*/
footer .the-social-link {
  color: #fff;
  text-decoration: none;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
}

/* Credit Style */
a.credit {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

/*Scroll Top Style*/
#scrolltop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scrolltop .btn {
  border-radius: 50%;
}

.icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
}

/*Common Style*/
.the-section {
  padding: 100px 0;
}
